{% extends "layout.html" %}
{% block content %}
    <h1>Random Exercise</h1>
    <h1>Temorarily coded out as it creates a problem: exercise is undefined</h1>       
{% endblock content %}
    <!--to fix the above('exercise' is undefined):
    <p>Name: {{ exercise.name }}</p>                        
    <p>Length: {{ exercise.length }}</p>
    <p>Exercise Type: {{ exercise.exercise_type }}</p>
    <p>Intensity: {{ exercise.intensity }}</p>
    <p>Link: {{ exercise.link }}</p> -->


<!-- # Matt's original code for random.html:
<h1>Random Exercise</h1>   
<p>Name: {{ exercise.name }}</p>
<p>Length: {{ exercise.length }}</p>
<p>Exercise Type: {{ exercise.exercise_type }}</p>
<p>Intensity: {{ exercise.intensity }}</p>
<p>Link: {{ exercise.link }}</p> -->